<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.TeacherBeanMapper">
  <resultMap id="BaseResultMap" type="com.spring.bean.TeacherBean">
    <id column="tno" jdbcType="VARCHAR" property="tno" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dno" jdbcType="VARCHAR" property="dno" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <association property="dept" select="com.spring.dao.DeptBeanMapper.selectByPrimaryKey" column="dno"></association>
  </resultMap>
  <sql id="Base_Column_List">
    tno, name, dno, pwd, pic, birthday, tel, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </select>
  
  <select id="loginTeacher" parameterType="com.spring.bean.TeacherBean" resultMap="BaseResultMap">
    select 
    *
    from teacher
    where name = #{name,jdbcType=VARCHAR} and pwd = #{pwd,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spring.bean.TeacherBean">
    insert into teacher (tno, name, dno, 
      pwd, pic, birthday, 
      tel, type)
    values (#{tno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{dno,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spring.bean.TeacherBean">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        tno,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dno != null">
        dno,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dno != null">
        #{dno,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.bean.TeacherBean">
    update teacher
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dno != null">
        dno = #{dno,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.bean.TeacherBean">
    update teacher
    set name = #{name,jdbcType=VARCHAR},
      dno = #{dno,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
   
  <select id="list" parameterType="com.spring.bean.TeacherBean" resultMap="BaseResultMap">
		select * from teacher t,dept d
	       <where>
	       and t.dno = d.dno
	       </where>
	</select>
</mapper>