<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.AnnuaBonusBeanMapper">
  <resultMap id="BaseResultMap" type="com.spring.bean.AnnuaBonusBean">
    <id column="tno" jdbcType="VARCHAR" property="tno" />
    <id column="year" jdbcType="VARCHAR" property="year" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="paperReward" jdbcType="INTEGER" property="paperreward" />
    <result column="treatiseReward" jdbcType="INTEGER" property="treatisereward" />
    <result column="patentReward" jdbcType="INTEGER" property="patentreward" />
    <result column="topicReward" jdbcType="INTEGER" property="topicreward" />
    <result column="awardsReward" jdbcType="INTEGER" property="awardsreward" />
    <result column="reamrk" jdbcType="VARCHAR" property="reamrk" />
  </resultMap>
  <sql id="Base_Column_List">
    tno, year, name, paperReward, treatiseReward, patentReward, topicReward, awardsReward, 
    reamrk
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.spring.bean.AnnuaBonusBeanKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from annuabonus
    where tno = #{tno,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.spring.bean.AnnuaBonusBeanKey">
    delete from annuabonus
    where tno = #{tno,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spring.bean.AnnuaBonusBean">
    insert into annuabonus (tno, year, name, 
      paperReward, treatiseReward, patentReward, 
      topicReward, awardsReward, reamrk
      )
    values (#{tno,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{paperreward,jdbcType=INTEGER}, #{treatisereward,jdbcType=INTEGER}, #{patentreward,jdbcType=INTEGER}, 
      #{topicreward,jdbcType=INTEGER}, #{awardsreward,jdbcType=INTEGER}, #{reamrk,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spring.bean.AnnuaBonusBean">
    insert into annuabonus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        tno,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="paperreward != null">
        paperReward,
      </if>
      <if test="treatisereward != null">
        treatiseReward,
      </if>
      <if test="patentreward != null">
        patentReward,
      </if>
      <if test="topicreward != null">
        topicReward,
      </if>
      <if test="awardsreward != null">
        awardsReward,
      </if>
      <if test="reamrk != null">
        reamrk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperreward != null">
        #{paperreward,jdbcType=INTEGER},
      </if>
      <if test="treatisereward != null">
        #{treatisereward,jdbcType=INTEGER},
      </if>
      <if test="patentreward != null">
        #{patentreward,jdbcType=INTEGER},
      </if>
      <if test="topicreward != null">
        #{topicreward,jdbcType=INTEGER},
      </if>
      <if test="awardsreward != null">
        #{awardsreward,jdbcType=INTEGER},
      </if>
      <if test="reamrk != null">
        #{reamrk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.bean.AnnuaBonusBean">
    update annuabonus
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperreward != null">
        paperReward = #{paperreward,jdbcType=INTEGER},
      </if>
      <if test="treatisereward != null">
        treatiseReward = #{treatisereward,jdbcType=INTEGER},
      </if>
      <if test="patentreward != null">
        patentReward = #{patentreward,jdbcType=INTEGER},
      </if>
      <if test="topicreward != null">
        topicReward = #{topicreward,jdbcType=INTEGER},
      </if>
      <if test="awardsreward != null">
        awardsReward = #{awardsreward,jdbcType=INTEGER},
      </if>
      <if test="reamrk != null">
        reamrk = #{reamrk,jdbcType=VARCHAR},
      </if>
    </set>
    where tno = #{tno,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.bean.AnnuaBonusBean">
    update annuabonus
    set name = #{name,jdbcType=VARCHAR},
      paperReward = #{paperreward,jdbcType=INTEGER},
      treatiseReward = #{treatisereward,jdbcType=INTEGER},
      patentReward = #{patentreward,jdbcType=INTEGER},
      topicReward = #{topicreward,jdbcType=INTEGER},
      awardsReward = #{awardsreward,jdbcType=INTEGER},
      reamrk = #{reamrk,jdbcType=VARCHAR}
    where tno = #{tno,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </update>
</mapper>