<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.PatentSoftSealBeanMapper">
  <resultMap id="BaseResultMap" type="com.spring.bean.PatentSoftSealBean">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dno" jdbcType="VARCHAR" property="dno" />
    <result column="tno" jdbcType="VARCHAR" property="tno" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="patentName" jdbcType="VARCHAR" property="patentname" />
    <result column="patentNo" jdbcType="VARCHAR" property="patentno" />
    <result column="authorizationDate" jdbcType="VARCHAR" property="authorizationdate" />
    <result column="patentee" jdbcType="VARCHAR" property="patentee" />
    <result column="ThatNnit" jdbcType="VARCHAR" property="thatnnit" />
    <result column="adjunct" jdbcType="VARCHAR" property="adjunct" />
    <result column="bounty" jdbcType="INTEGER" property="bounty" />
    <result column="firstTrial" jdbcType="VARCHAR" property="firsttrial" />
    <result column="review" jdbcType="VARCHAR" property="review" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dno, tno, author, type, patentName, patentNo, authorizationDate, patentee, ThatNnit, 
    adjunct, bounty, firstTrial, review, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patentsoftseal
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from patentsoftseal
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spring.bean.PatentSoftSealBean">
    insert into patentsoftseal (id, dno, tno, 
      author, type, patentName, 
      patentNo, authorizationDate, patentee, 
      ThatNnit, adjunct, bounty, 
      firstTrial, review, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{dno,jdbcType=VARCHAR}, #{tno,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{patentname,jdbcType=VARCHAR}, 
      #{patentno,jdbcType=VARCHAR}, #{authorizationdate,jdbcType=VARCHAR}, #{patentee,jdbcType=VARCHAR}, 
      #{thatnnit,jdbcType=VARCHAR}, #{adjunct,jdbcType=VARCHAR}, #{bounty,jdbcType=INTEGER}, 
      #{firsttrial,jdbcType=VARCHAR}, #{review,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spring.bean.PatentSoftSealBean">
    insert into patentsoftseal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dno != null">
        dno,
      </if>
      <if test="tno != null">
        tno,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="patentname != null">
        patentName,
      </if>
      <if test="patentno != null">
        patentNo,
      </if>
      <if test="authorizationdate != null">
        authorizationDate,
      </if>
      <if test="patentee != null">
        patentee,
      </if>
      <if test="thatnnit != null">
        ThatNnit,
      </if>
      <if test="adjunct != null">
        adjunct,
      </if>
      <if test="bounty != null">
        bounty,
      </if>
      <if test="firsttrial != null">
        firstTrial,
      </if>
      <if test="review != null">
        review,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dno != null">
        #{dno,jdbcType=VARCHAR},
      </if>
      <if test="tno != null">
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="patentname != null">
        #{patentname,jdbcType=VARCHAR},
      </if>
      <if test="patentno != null">
        #{patentno,jdbcType=VARCHAR},
      </if>
      <if test="authorizationdate != null">
        #{authorizationdate,jdbcType=VARCHAR},
      </if>
      <if test="patentee != null">
        #{patentee,jdbcType=VARCHAR},
      </if>
      <if test="thatnnit != null">
        #{thatnnit,jdbcType=VARCHAR},
      </if>
      <if test="adjunct != null">
        #{adjunct,jdbcType=VARCHAR},
      </if>
      <if test="bounty != null">
        #{bounty,jdbcType=INTEGER},
      </if>
      <if test="firsttrial != null">
        #{firsttrial,jdbcType=VARCHAR},
      </if>
      <if test="review != null">
        #{review,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.bean.PatentSoftSealBean">
    update patentsoftseal
    <set>
      <if test="dno != null">
        dno = #{dno,jdbcType=VARCHAR},
      </if>
      <if test="tno != null">
        tno = #{tno,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="patentname != null">
        patentName = #{patentname,jdbcType=VARCHAR},
      </if>
      <if test="patentno != null">
        patentNo = #{patentno,jdbcType=VARCHAR},
      </if>
      <if test="authorizationdate != null">
        authorizationDate = #{authorizationdate,jdbcType=VARCHAR},
      </if>
      <if test="patentee != null">
        patentee = #{patentee,jdbcType=VARCHAR},
      </if>
      <if test="thatnnit != null">
        ThatNnit = #{thatnnit,jdbcType=VARCHAR},
      </if>
      <if test="adjunct != null">
        adjunct = #{adjunct,jdbcType=VARCHAR},
      </if>
      <if test="bounty != null">
        bounty = #{bounty,jdbcType=INTEGER},
      </if>
      <if test="firsttrial != null">
        firstTrial = #{firsttrial,jdbcType=VARCHAR},
      </if>
      <if test="review != null">
        review = #{review,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.bean.PatentSoftSealBean">
    update patentsoftseal
    set dno = #{dno,jdbcType=VARCHAR},
      tno = #{tno,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      patentName = #{patentname,jdbcType=VARCHAR},
      patentNo = #{patentno,jdbcType=VARCHAR},
      authorizationDate = #{authorizationdate,jdbcType=VARCHAR},
      patentee = #{patentee,jdbcType=VARCHAR},
      ThatNnit = #{thatnnit,jdbcType=VARCHAR},
      adjunct = #{adjunct,jdbcType=VARCHAR},
      bounty = #{bounty,jdbcType=INTEGER},
      firstTrial = #{firsttrial,jdbcType=VARCHAR},
      review = #{review,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>