<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.TopicBeanMapper">
	<resultMap id="BaseResultMap"
		type="com.spring.bean.TopicBean">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="dno" jdbcType="VARCHAR" property="dno" />
		<result column="tno" jdbcType="VARCHAR" property="tno" />
		<result column="author" jdbcType="VARCHAR" property="author" />
		<result column="projectUnits" jdbcType="VARCHAR"
			property="projectunits" />
		<result column="topicname" jdbcType="VARCHAR"
			property="topicname" />
		<result column="startDate" jdbcType="VARCHAR"
			property="startdate" />
		<result column="endDate" jdbcType="VARCHAR" property="enddate" />
		<result column="evolve" jdbcType="VARCHAR" property="evolve" />
		<result column="adjunct" jdbcType="VARCHAR" property="adjunct" />
		<result column="bounty" jdbcType="INTEGER" property="bounty" />
		<result column="firstTrial" jdbcType="VARCHAR"
			property="firsttrial" />
		<result column="review" jdbcType="VARCHAR" property="review" />
		<result column="ramark" jdbcType="VARCHAR" property="ramark" />
		<association property="teacher"
			select="com.spring.dao.TeacherBeanMapper.selectByPrimaryKey"
			column="tno"></association>

	</resultMap>
	<sql id="Base_Column_List">
		id, dno, tno, author, projectUnits, topicname, startDate, endDate,
		evolve, adjunct,
		bounty, firstTrial, review, ramark
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		*
		from topic ,teacher
		where id = #{id,jdbcType=VARCHAR} and teacher.tno=topic.tno
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from topic
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.spring.bean.TopicBean">
		insert into topic (id, dno, tno,
		author, projectUnits, topicname,
		startDate, endDate, evolve,
		adjunct, bounty, firstTrial,
		review, ramark)
		values (#{id,jdbcType=VARCHAR}, #{dno,jdbcType=VARCHAR},
		#{tno,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR}, #{projectunits,jdbcType=VARCHAR}, #{topicname,jdbcType=VARCHAR},
		#{startdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR},
		#{evolve,jdbcType=VARCHAR},
		#{adjunct,jdbcType=VARCHAR}, #{bounty,jdbcType=INTEGER}, #{firsttrial,jdbcType=VARCHAR},
		#{review,jdbcType=VARCHAR}, #{ramark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.spring.bean.TopicBean">
		insert into topic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="dno != null">
				dno,
			</if>
			<if test="tno != null">
				tno,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="projectunits != null">
				projectUnits,
			</if>
			<if test="topicname != null">
				topicname,
			</if>
			<if test="startdate != null">
				startDate,
			</if>
			<if test="enddate != null">
				endDate,
			</if>
			<if test="evolve != null">
				evolve,
			</if>
			<if test="adjunct != null">
				adjunct,
			</if>
			<if test="bounty != null">
				bounty,
			</if>
			<if test="firsttrial != null">
				firstTrial,
			</if>
			<if test="review != null">
				review,
			</if>
			<if test="ramark != null">
				ramark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="dno != null">
				#{dno,jdbcType=VARCHAR},
			</if>
			<if test="tno != null">
				#{tno,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="projectunits != null">
				#{projectunits,jdbcType=VARCHAR},
			</if>
			<if test="topicname != null">
				#{topicname,jdbcType=VARCHAR},
			</if>
			<if test="startdate != null">
				#{startdate,jdbcType=VARCHAR},
			</if>
			<if test="enddate != null">
				#{enddate,jdbcType=VARCHAR},
			</if>
			<if test="evolve != null">
				#{evolve,jdbcType=VARCHAR},
			</if>
			<if test="adjunct != null">
				#{adjunct,jdbcType=VARCHAR},
			</if>
			<if test="bounty != null">
				#{bounty,jdbcType=INTEGER},
			</if>
			<if test="firsttrial != null">
				#{firsttrial,jdbcType=VARCHAR},
			</if>
			<if test="review != null">
				#{review,jdbcType=VARCHAR},
			</if>
			<if test="ramark != null">
				#{ramark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.spring.bean.TopicBean">
		update topic
		<set>
			<if test="dno != null">
				dno = #{dno,jdbcType=VARCHAR},
			</if>
			<if test="tno != null">
				tno = #{tno,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="projectunits != null">
				projectUnits = #{projectunits,jdbcType=VARCHAR},
			</if>
			<if test="topicname != null">
				topicname = #{topicname,jdbcType=VARCHAR},
			</if>
			<if test="startdate != null">
				startDate = #{startdate,jdbcType=VARCHAR},
			</if>
			<if test="enddate != null">
				endDate = #{enddate,jdbcType=VARCHAR},
			</if>
			<if test="evolve != null">
				evolve = #{evolve,jdbcType=VARCHAR},
			</if>
			<if test="adjunct != null">
				adjunct = #{adjunct,jdbcType=VARCHAR},
			</if>
			<if test="bounty != null">
				bounty = #{bounty,jdbcType=INTEGER},
			</if>
			<if test="firsttrial != null">
				firstTrial = #{firsttrial,jdbcType=VARCHAR},
			</if>
			<if test="review != null">
				review = #{review,jdbcType=VARCHAR},
			</if>
			<if test="ramark != null">
				ramark = #{ramark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.spring.bean.TopicBean">
		update topic
		set dno = #{dno,jdbcType=VARCHAR},
		tno = #{tno,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		projectUnits = #{projectunits,jdbcType=VARCHAR},
		topicname = #{topicname,jdbcType=VARCHAR},
		startDate = #{startdate,jdbcType=VARCHAR},
		endDate = #{enddate,jdbcType=VARCHAR},
		evolve = #{evolve,jdbcType=VARCHAR},
		adjunct = #{adjunct,jdbcType=VARCHAR},
		bounty = #{bounty,jdbcType=INTEGER},
		firstTrial = #{firsttrial,jdbcType=VARCHAR},
		review = #{review,jdbcType=VARCHAR},
		ramark = #{ramark,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="list" parameterType="com.spring.bean.TopicBean"
		resultMap="BaseResultMap">
		select * from topic,teacher
		<trim prefix="where" prefixOverrides="AND|OR| "
			suffixOverrides=",">
			<set>
				<if test="dno != null">
					dno = #{dno,jdbcType=VARCHAR}
				</if>
				<if test="tno != null">
					and tno = #{tno,jdbcType=VARCHAR}
				</if>
				<if test="author != null">
					and author = #{author,jdbcType=VARCHAR}
				</if>
				<if test="projectunits != null">
					and projectUnits = #{projectunits,jdbcType=VARCHAR}
				</if>
				<if test="topicname != null">
					and topicname = #{topicname,jdbcType=VARCHAR}
				</if>
				<if test="startdate != null">
					and startDate = #{startdate,jdbcType=VARCHAR}
				</if>
				<if test="enddate != null">
					and endDate = #{enddate,jdbcType=VARCHAR}
				</if>
				<if test="evolve != null">
					and evolve = #{evolve,jdbcType=VARCHAR}
				</if>
				<if test="adjunct != null">
					and adjunct = #{adjunct,jdbcType=VARCHAR}
				</if>
				<if test="bounty != null">
					and bounty = #{bounty,jdbcType=INTEGER}
				</if>
				<if test="firsttrial != null">
					and firstTrial = #{firsttrial,jdbcType=VARCHAR}
				</if>
				<if test="review != null">
					and review = #{review,jdbcType=VARCHAR}
				</if>
				<if test="ramark != null">
					and ramark = #{ramark,jdbcType=VARCHAR}
				</if>
			</set>
			and topic.tno=teacher.tno
		</trim>
	</select>
</mapper>